version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ../..:/workspace:cached
    command: sleep infinity
    network_mode: service:db

  db:
    image: postgres:13
    restart: unless-stopped
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ../../database:/docker-entrypoint-initdb.d
    environment:
      POSTGRES_PASSWORD: inventory
      POSTGRES_USER: inventory
      POSTGRES_DB: inventory_system
    ports:
      - "5432:5432"

volumes:
  postgres-data:
